body {
  background-color: #F1F8E9;
  color:#344A04;
}

a:link {
  color:#0F8E0D;
}

a:visited {
  color:#948651;
}

hr {
  border-color: #C1B672;
  border-width: 2px;
  border-style: dashed none none;
  width: 300px;
}

h1 {
  color:#5A6600;
}

h2 {
  color: #4C6B05;
}

h3 {
  color:#788A18;
}

.contain {
  width: 800px;
}

.centre {
  text-align: center;
  justify-content: center;
  width: 700px;
}

.subcent {
  width: 500px;
  margin-left:100px;
  text-align: left;
}

#mid {
  text-align: center;
  vertical-align: middle;
}
