body {
  background-color: #A0D995;
}

a:link {
  color:#0F8E0D;
}

a:visited {
  color:#586E0C;
}

hr {
  border-color: #6CC4A1;
  border-width: 6px;
  border-style: dotted none none;
  width: 200px;
}

h1 {
  color:#00664d;
}

h2 {
  color: #117755;
}

h3 {
  color:#228866;
}

.contain {
  width: 800px;
}

.centre {
  text-align: center;
  justify-content: center;
  width: 700px;
}

.subcent {
  width: 500px;
  margin-left:100px;
  text-align: left;
}
